.banner{
    background-image: url("../../../public/banner.jpg");
}

.tagLine{
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.carousel{
    height: 50%;
    display: flex;
    align-items: center;
}